<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accessories</title>
</head>
<body>
  <h1>All Accessories</h1>
  <ul>
    <% acc.forEach(acc => { %>
      <a href="/accessories/update/<%= acc.id %>">
        <li> <%= acc.manufacturer %> <%= acc.name %> </li>
      </a>
    <% }) %>
  </ul>
  <a href="/accessories/add">
    <button>add item</button>
  </a>
  <a href="/">
    <button>back</button>
  </a>
</body>
</html>