<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crashpads</title>
</head>
<body>
  <h1>All Crashpads</h1>
  <ul>
    <% pads.forEach(pad => { %>
      <li> <%= pad.manufacturer %> <%= pad.name %> </li>
    <% }) %>
  </ul>
  <a href="/"><button>back</button></a>
</body>
</html>