<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crashpads</title>
</head>
<body>
  <h1>All Crashpads</h1>
  <ul>
    <% pads.forEach(pad => { %>
      <li> <a href="/crashpads/update/<%= pad.id %>"><%= pad.manufacturer %> <%= pad.name %> </a></li>
    <% }) %>
  </ul>
  <a href="/">
    <button>back</button>
  </a>
  <a href="/crashpads/add">
    <button>add</button>
  </a>
</body>
</html>