<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Climbing Shoes</title>
</head>
<body>
  <h1>All Climbing Shoes</h1>
  <ul>
    <% shoes.forEach(shoe => { %>
      <li> <%= shoe.manufacturer %> <%= shoe.name %> </li>
    <% }) %>
  </ul>
  <a href="/"><button>back</button></a>
</body>
</html>